[submodule "external/--force"]
	path = external/--force
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "external/KTX-Software"]
	path = external/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
